<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentExamples</key>
			<array>
				<string>Spiele Imagine Dragons in Shelv.</string>
				<string>Spiele Demons von Imagine Dragons in Shelv.</string>
				<string>Spiele Dire Straits zufällig in Shelv.</string>
				<string>Spiele die neuesten Titel in Shelv.</string>
				<string>Spiele den Neueste-Titel-Mix in Shelv.</string>
				<string>Spiele Neues in Shelv.</string>
				<string>Spiele beliebte Musik in Shelv.</string>
				<string>Spiele den Beliebte-Titel-Mix in Shelv.</string>
				<string>Starte einen Radiosender in Shelv.</string>
			</array>
			<key>IntentName</key>
			<string>INPlayMediaIntent</string>
		</dict>
	</array>
</dict>
</plist>
